body {
  direction: rtl;
  margin: 10rem;
  padding: 5rem;
  background: #fafafa;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: .5rem;
  border: 1px solid #dddddd;
  border-radius: .5rem;
  margin-bottom: .25rem;
}

.nav-item {
  margin-right: .75rem;
  margin-left: .75rem;
}

.my-invalid-feedback {
  color: #f71c48;
}

.even {
  background: #ffffff;
  padding: 1rem;
}

.odd {
  background: #a7c6df;
  padding: 1rem;
}